<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body data-controller="view-more"
        class="<%= data.layout %> <%= data.page_class %> flex flex-col min-h-dvh text-neutral">
    <div class="flex flex-col xl:flex-row lg:gap-24 flex-1 items-center justify-center mx-4">
      <%= render Navbar.new(metadata: site.metadata, resource: resource) %>
      <main data-view-more-target="more"
            class="w-fit relative min-h-dvh lg:min-h-[unset] lg:w-[50vh] xl:w-1/2 2xl:w-5/12 lg:aspect-square mx-auto lg:m-0 lg:ring-1 lg:ring-neutral lg:rounded-3xl ">
        <nav class="mx-auto w-fit flex gap-3 lg:gap-6 pt-9 lg:pt-0 lg:absolute bg-base-100 lg:-top-5 lg:left-12 lg:px-2" data-turbo-permanent>
          <%= render ButtonLink.new(href: '/', text: "Posts", selected: current_path?('/', page)) %>
          <%= render ButtonLink.new(href: '/about/', text: "About", selected: current_path?('about', page)) %>
          <%= render ButtonLink.new(href: '/demos/', text: "Demos", selected: current_path?('demos', page)) %>
        </nav>

        <div class="lg:p-12 h-full">
          <div class="h-full lg:overflow-y-auto">
            <%= yield %>
          </div >
        </div>
      </main>
    </div>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
