<header class="flex items-center gap-4 font-comic-code bg-accent w-fit px-4 py-2 rounded-3xl mx-auto mt-8 shadow-lg">
  <a href="https://twitter.com/frannyanart" class="hover:opacity-60 transition-opacity duration-500 ease-in-out"
    title="art by @frannyanart" alt="@frannyanart on twitter">
    <img class="avatar rounded-full shadow-md" src="<%= relative_url '/images/pfpsized.webp' %>" alt="Logo" width="128"
      height="128" />
  </a>

  <h1 class="text-xl">
    <a href="/" class="hover:text-primary">
      <%= @metadata[:title] %>
    </a>
  </h1>
</header>

<nav class="mx-auto w-fit flex gap-10 my-6">
  <a class="btn no-animation btn-outline btn-sm btn-neutral uppercase tracking-wider" href="<%= relative_url '/' %>">Home</a>
  <a class="btn no-animation btn-outline btn-sm btn-neutral uppercase tracking-wider" href="<%= relative_url '/about' %>">About</a>
  <a class="btn no-animation btn-outline btn-sm btn-neutral uppercase tracking-wider" href="<%= relative_url '/posts' %>">Posts</a>
</nav>
