---
# Feel free to add content and custom Front Matter to this file.

layout: horizontal
title: Home
paginate:
  collection: posts
  per_page: 5
  permalink: "/page/:num/"
---
<%# TODO: Container queries here %>

<div class="grid grid-cols-1 lg:gap-8 mx-auto w-fit mt-8 mb-8 lg:mb-0 lg:mt-0">
  <% paginator.resources.each do |post| %>
    <div class="border-t border-neutral pt-4 px-6 lg:border-none">
      <%= render Link.new(href: post.relative_url, relative: false, class: "underline text-lg @5xl:text-3xl text-neutral hover:text-primary font-semibold") do %>
        <%= post.data.title %>
      <% end %>
      <div class="prose xl:prose truncate"><%= post.summary %></div>
      <div class="flex justify-center @lg:justify-start mt-2.5 mb-2 gap-1">
        <% post.data.categories.each do |category| %>
          <div class="bg-info rounded-lg text-sm font-bold tracking-wide text-white px-2 py-0.5"><%= category %></div>
        <% end %>
      </div>
      <div class="text-center text-xs @lg:text-sm font-semibold tracking-wider mt-1 mb-2">
        <span data-localize>
          <%= post.data.date %>
        </span>
      </div>
      <% unless paginator.resources.last == post %>
        <hr class="border-[#8B8B8B] w-1/2 mx-auto hidden @lg:block">
      <% end %>
    </div>
  <% end %>
</div>
<% if paginator.previous_page.present? %>
  <%= render ButtonLink.new(href: paginator.previous_page_path, relative: false, class: 'absolute bottom-0.5 left-2 lg:bottom-8 lg:left-8') do %>
    Prev
  <% end %>
<% end %>

<% if paginator.next_page.present? %>
  <%= render ButtonLink.new(href: paginator.next_page_path, relative: false, class: 'absolute bottom-0.5 right-2 lg:bottom-8 lg:right-8') do %>
    Next
  <% end %>
<% end %>

